<div class="level-buttons" data-controller="card">
  <div class="level-filter level-1" data-action="click->card#filterLevel">N1</div>
  <div class="level-filter level-2" data-action="click->card#filterLevel">N2</div>
  <div class="level-filter level-3" data-action="click->card#filterLevel">N3</div>
  <div class="level-filter level-4 active" data-action="click->card#filterLevel">N4</div>
  <div class="level-filter level-5" data-action="click->card#filterLevel">N5</div>
  <div class="level-filter level-all" data-action="click->card#filterLevel">All!</div>
</div>

<div class="main-container" data-controller="card">
  <div class="left-side" data-card-target="leftSide">
    <div class="info-card">
      <p>Kanji:</p>
      <p><span id="kanji-display" data-card-target="kanjiDisplay">?</span></p>
      <p><strong>Meaning:</strong> <span id="meaning" data-card-target="meaning">?</span></p>
      <p><strong>Onyomi:</strong> <span id="onyomi" data-card-target="onyomi">?</span></p>
      <p><strong>Kunyomi:</strong> <span id="kunyomi" data-card-target="kunyomi">?</span></p>
      <p><strong>Stroke Count:</strong> <span id="stroke-count" data-card-target="strokeCount">?</span></p>
      <p><strong>Grade: N</strong><span id="grade" data-card-target="grade">?</span></p>
      <p><strong>JLPT Level:</strong> <span id="jlpt-level" data-card-target="jlptLevel">?</span></p>

      <div class="button-container">
        <button type="button" class="play-button-right" id="play-btn" data-card-target="playButton" data-action="click->card#play" disabled>Play!</button>
        <input type="hidden" id="selected-kanji" name="selected-kanji" data-card-target="selectedKanjiInput">
      </div>
    </div>
  </div>

  <div class="right-side" data-card-target="rightSide">
    <div class="card-container">
      <% @kanji.each_with_index do |kanji, index| %>
        <div class="card" data-card-target="card"
             data-kanji="<%= kanji.kanji %>"
             data-meaning="<%= kanji.meaning %>"
             data-onyomi="<%= kanji.onyomi %>"
             data-kunyomi="<%= kanji.kunyomi %>"
             data-stroke-count="<%= kanji.stroke_count %>"
             data-grade="<%= kanji.grade %>"
             data-jlpt="<%= kanji.jlptLevel %>"
             data-url="<%= kanji_path(kanji) %>"
             data-solved="<%= @puzzles.any? {|p| p.kanji == kanji} ? 1 : 0 %>"
             data-action="click->card#selectCard">
          <div class="stars">★★★☆☆</div>
          <div class="level level-<%= kanji.jlptLevel %>">N<%= kanji.jlptLevel %></div>
          <div class="white-box-for">
            <div class="question-mark">?</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
