<div class="level-buttons">
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_n1", class:"hidden"%> </div>
    <div class="level-filter level-1">N1</div>
    <span class="level-filter level-1 hidden"><span id="n1_done"><%=@n1_done.count%></span>/<span id="n1_total"><%= @n1_total.count%></span>
  </div>
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_n2", class:"hidden" %> </div>
    <div class="level-filter level-2">N2</div>
    <span class="level-filter level-2 hidden"><span id="n2_done"><%=@n2_done.count%></span>/<span id="n2_total"><%= @n2_total.count%></span>
  </div>
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_n3", class:"hidden" %> </div>
    <div class="level-filter level-3">N3</div>
    <span class="level-filter level-3 hidden"><span id="n3_done"><%=@n3_done.count%></span>/<span id="n3_total"><%= @n3_total.count%></span>
  </div>
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_n4", class:"hidden" %> </div>
    <div class="level-filter level-4">N4</div>
    <span class="level-filter level-4 hidden"><span id="n4_done"><%=@n4_done.count%></span>/<span id="n4_total"><%= @n4_total.count%></span>
  </div>
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_n5", class:"hidden" %> </div>
    <div class="level-filter level-5">N5</div>
    <span class="level-filter level-5 hidden"><span id="n5_done"><%=@n5_done.count%></span>/<span id="n5_total"><%= @n5_total.count%></span>
  </div>
  <div class="button-box">
    <div class="crown"> <%= image_tag "crown.png", id: "crown_all", class:"hidden"  %> </div>
    <div class="level-filter level-all">All!</div>
    <span class="level-filter level-all hidden"><span id="all_done"><%=@all_done.count%></span>/<span id="all_total"><%= @kanji.count%></span>
  </div>
</div>

<div class="main-container" data-controller="index-side-menu">
  <div class="left-side">
    <div class="info-card">
      <p>Kanji:</p>
      <p><span id="kanji-display">?</span></p>
      <p><strong>Meaning:</strong> <span id="meaning">?</span></p>
      <p><strong>Onyomi:</strong> <span id="onyomi">?</span></p>
      <p><strong>Kunyomi:</strong> <span id="kunyomi">?</span></p>
      <p><strong>Stroke Count:</strong> <span id="stroke-count">?</span></p>
      <p><strong>Grade: N</strong><span id="grade">?</span></p>
      <p><strong>JLPT Level:</strong> <span id="jlpt-level">?</span></p>

      <div class="button-container">
        <button type="button" class="play-button-right" id="play-btn" disabled>Play!</button>
        <input type="hidden" id="selected-kanji" name="selected-kanji">
      </div>
    </div>

    <% @kanji.each do |kanji| %>
      <div class="hidden-kanji-data"
           data-kanji="<%= kanji.kanji %>"
           data-meaning="<%= kanji.meaning %>"
           data-onyomi="<%= kanji.onyomi %>"
           data-kunyomi="<%= kanji.kunyomi %>"
           data-stroke-count="<%= kanji.stroke_count %>"
           data-grade="<%= kanji.grade %>"
           data-jlpt="<%= kanji.jlptLevel %>"
           data-solved="<%= @puzzles.any? {|p| p.kanji == kanji} ? 1 : 0 %>">
      </div>
    <% end %>
  </div>

  <div class="right-side">
    <div class="card-container">
      <% (@all_done).each_with_index do |kanji, index| %>
      <% if @puzzles.any? {|p| p.kanji == kanji} %>
        <div class="card" data-kanji="<%= kanji.kanji %>"
             data-meaning="<%= kanji.meaning %>"
             data-onyomi="<%= kanji.onyomi %>"
             data-kunyomi="<%= kanji.kunyomi %>"
             data-stroke-count="<%= kanji.stroke_count %>"
             data-jlpt="<%= kanji.jlptLevel %>"
             data-url="<%= kanji_path(kanji) %>"
             data-solved="<%= @puzzles.any? {|p| p.kanji == kanji} ? 1 : 0 %>">

          <div class="stars">★★★☆☆</div>
          <div class="level level-<%= kanji.jlptLevel %>">N<%= kanji.jlptLevel %></div>
          <div class="white-box-for">
            <div class="question-mark">?</div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% not_done = (
        (@n5_total - @n5_done)[..10] +
        (@n4_total - @n4_done)[..10] +
        (@n3_total - @n3_done)[..10] +
        (@n2_total - @n2_done)[..10] +
        (@n1_total - @n1_done)[..10]
        ) %>
       <% (not_done).each_with_index do |kanji, index| %>
        <div class="card" data-kanji="<%= kanji.kanji %>"
             data-meaning="<%= kanji.meaning %>"
             data-onyomi="<%= kanji.onyomi %>"
             data-kunyomi="<%= kanji.kunyomi %>"
             data-stroke-count="<%= kanji.stroke_count %>"
             data-jlpt="<%= kanji.jlptLevel %>"
             data-url="<%= kanji_path(kanji) %>"
             data-solved="<%= @puzzles.any? {|p| p.kanji == kanji} ? 1 : 0 %>">

          <div class="stars">★★★☆☆</div>
          <div class="level level-<%= kanji.jlptLevel %>">N<%= kanji.jlptLevel %></div>
          <div class="white-box-for">
            <div class="question-mark">?</div>
          </div>
        </div>
        <% if @puzzles.any? {|p| p.kanji == kanji} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
