<div class="container d-flex">
  <div>
    <div class="spacer"></div>
    <div class="highscores" id="highscores">
      <ul>
        <% @puzzles.each do |puzzle| %>
        <% minutes = (puzzle.time / 60) < 10 ? "0#{(puzzle.time / 60)}" : puzzle.time / 60 %>
        <% seconds = (puzzle.time % 60) < 10 ? "0#{(puzzle.time % 60)}" : puzzle.time % 60%>
          <li class="list"><%= minutes %>:<%= seconds %> - <%= puzzle.user.user_profile.username %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="puzzle-window">
      <div class="puzzle"
      id="puzzle"
      data-controller="puzzle"
      data-puzzle-target="rootDiv"
      data-puzzle-variable="<%=@kanji.puzzleInfo.to_json%>"
      data-puzzle-cell_style="<%= @user_profile.cell_style.name %>"
      data-puzzle-background_style="<%= @user_profile.background_style.name %>"
      data-puzzle-active_style="<%= @user_profile.active_style.name %>"
      data-puzzle-flagged_style="<%= @user_profile.flagged_style.name %>"
      >
      </div>
  </div>

  <div>
    <div class="spacer"></div>
    <div class="kanji-data" id="kanji-data">
        <p><span id="kanji-display"><%= @kanji.kanji %></span></p>
        <p><strong>Meaning:</strong> <span id="meaning"><%= @kanji.meaning %></span></p>
        <p><strong>Onyomi:</strong> <span id="onyomi"><%= @kanji.onyomi%></span></p>
        <p><strong>Kunyomi:</strong> <span id="kunyomi"><%= @kanji.kunyomi %></span></p>
        <p><strong>JLPT Level:</strong> <span id="jlpt-level"><%= @kanji.jlptLevel %></span></p>
    </div>
    </div>

</div>

<div class="hidden">
  <%= simple_form_for @puzzle, remote: true, html: { id: :puzzle_form } do |f| %>
  <%= f.input :time ,input_html: {id: "time_field" }%>
  <%= f.input :kanji_id, input_html: {value: @kanji.id } %>
  <%= f.input :total_xp ,input_html: {id: "xp_field", value: @user_profile.total_xp }%>
  <%= f.input :level, input_html: {id: "level_field", value: @user_profile.level } %>
  <%= f.button :submit, id: "puzzle-submit" %>
  <% end %>
</div>

<div>
  <%= render "kanji/conclussion" %>
</div>

<div data-controller="hint">
  <button class="ask-wrondarou-btn" data-action="click->hint#toggle">
    Ask Wrondarou-sama for a hint?
  </button>

  <div class="d-none" data-hint-target="hint">
    <em></em>
    <p><%= @content %></p>
  </div>
</div>

  <div class="gif-container-bottom" data-action="click->hint#toggle">
    <%= image_tag "tanuki.gif", class: "game-gif-bottom" %>
  </div>
