<div class="container d-flex">
  <div>
    <div class="spacer"></div>
    <div class="highscores" id="highscores">
      <ul>
        <% @puzzles.each do |puzzle| %>
        <% minutes = (puzzle.time / 60) < 10 ? "0#{(puzzle.time / 60)}" : puzzle.time / 60 %>
        <% seconds = (puzzle.time % 60) < 10 ? "0#{(puzzle.time % 60)}" : puzzle.time / 60%>
          <li class="list"><%= minutes %>:<%= seconds %> - <%= puzzle.user.user_profile.username %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="puzzle-window">
    <div class="background-div" style= "background-image: url('/path/app/assets/images/WROND.png'); background-size: cover; background-blend-mode: multiply; background-color: rgba(255, 255, 255, 0.5); padding: 20px;">
      <div class="puzzle" id="puzzle" data-controller="puzzle" data-puzzle-target="rootDiv" data-puzzle-variable=<%=@kanji.puzzleInfo.to_json%> data-level-color-level-value="<%= level_color(current_user.user_profile.level)%>">
      </div>
    </div>
  </div>

  <div>
    <div class="spacer"></div>
    <div class="kanji-data" id="kanji-data">
        <p><span id="kanji-display"><%= @kanji.kanji %></span></p>
        <p><strong>Meaning:</strong> <span id="meaning"><%= @kanji.meaning %></span></p>
        <p><strong>Onyomi:</strong> <span id="onyomi"><%= @kanji.onyomi%></span></p>
        <p><strong>Kunyomi:</strong> <span id="kunyomi"><%= @kanji.kunyomi %></span></p>
        <p><strong>Stroke Count:</strong> <span id="stroke-count"> <%= @kanji.strokeCount %></span></p>
        <p><strong>Grade: N</strong><span id="grade"><%= @kanji.grade %></span></p>
        <p><strong>JLPT Level:</strong> <span id="jlpt-level"><%= @kanji.jlptLevel %></span></p>
    </div>
    </div>

</div>

<div class="hidden">
  <%= simple_form_for @puzzle, remote: true, html: { id: :puzzle_form } do |f| %>
  <%= f.input :time ,input_html: {id: "time_field" }%>
  <%= f.input :kanji_id, input_html: {value: @kanji.id } %>
  <%= f.input :total_xp ,input_html: {id: "xp_field", value: @user_profile.total_xp }%>
  <%= f.input :level, input_html: {id: "level_field", value: @user_profile.level } %>
  <%= f.button :submit, id: "puzzle-submit" %>
  <% end %>
</div>

<div>
  <%= render "kanji/conclussion" %>
</div>

<div class="gif-container-bottom">
  <%= image_tag "tanuki.gif", class: "game-gif-bottom" %>
</div>
