<%= button_to conflicts_path(commit: "N#{conflict.kanji.jlptLevel}"), method: :post do %>
  <div class="level-filter BIG level-<%="#{conflict.kanji.jlptLevel}"%>" id="conflict-<%= conflict.id %>">
    <%= conflict.user1.user_profile.username %>
    N<%= conflict.kanji.jlptLevel %>
  </div>
<% end %>
