<div class="p1-puzzle-window ">
  <div class="p1-puzzle"
  id="p1-puzzle"
  data-controller="p1_puzzle"
  data-p1_puzzle-target="p1RootDiv"
  data-p1_puzzle-variable="<%=conflict.kanji.puzzleInfo.to_json%>"
  data-p1_puzzle-p1data="<%= conflict.u1_state || [] %>"
  data-p1_puzzle-p2data="<%= conflict.u2_state || [] %>"
  data-p1_puzzle-status="<%=conflict.status%>"
  data-p1_puzzle-user1="<%= conflict.user1.id %>"
  data-p1_puzzle-user2="<%= conflict.user2.nil? ? 0 : conflict.user2.id %>"
  data-p1_puzzle-cell_style="<%= conflict.user1.user_profile.cell_style.name %>"
  data-p1_puzzle-background_style="<%= conflict.user1.user_profile.background_style.name %>"
  data-p1_puzzle-active_style="<%= conflict.user1.user_profile.active_style.name %>"
  data-p1_puzzle-flagged_style="<%= conflict.user1.user_profile.flagged_style.name %>">
  </div>
</div>
