<%= @conflict.user1.user_profile.username %> VS. <%= @conflict.user2.user_profile.username %>

<%= turbo_stream_from @conflict %>
<div class="container p-3 m-6" id="conflicts_box">
  <%= turbo_frame_tag :conflict_partial do %>
  <%= render "p1puzzle", conflict: @conflict, user: @user %>
  <% end%>
</div>

<div class="hidden">
   <%= simple_form_for @conflict, remote: true, html: { id: :conflict_form } do |f| %>
  <%= f.input :time ,input_html: {id: "time_field" }%>
  <%= f.input :u1_state, input_html: {id: "u1state_field" } %>
  <%= f.input :u2_state, input_html: {id: "u2state_field" } %>
  <%= f.input :status , input_html: {id: "status_field", value: "in_progress" }%>
  <%= f.input :winner, input_html: {id: "winner_field" } %>
  <%= f.button :submit, id: "conflict-submit" %>
  <% end %>

  <div class="hidden" id="user_id"><%= @user.id %></div>
</div>
