<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "WROND!" %>
    <%= favicon_link_tag %>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description "Learn Kanji - The Fun Way" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!– Facebook Open Graph data –>
    <meta property=”og:title” content=”<%= title "WROND!" %>” />
    <meta property=”og:type” content=”website” />
    <meta property=”og:url” content=”<%= request.original_url %>” />
    <meta property=”og:description” content=”<%= description "Learn Kanji - The Fun Way!"%>” />
    <meta property=”og:site_name” content=”<%= title "WROND!"%>” />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'upgrades', 'data-turbo-track': 'reload' %>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% if user_signed_in? %>
      <%= render "shared/xpbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/bottom-bar" %>
  </body>
</html>
